* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
    background: url("/PortafolioWeb/assets/Images/9a8e6019-c71f-4994-8144-c39b254ffafb.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100vh;
}

.Icon{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.Box-Container{
 position: relative;
 left: 300px;
 display: grid;
 justify-content: center;
 justify-items: center;
 top: 100px;
 box-shadow:7px 13px 37px #000;  
}

h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px  4px #000;
}

p{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px  4px #000;
}

.discord {
  transition: transform 0.3s ease; 
}

.discord:hover {
  transform: scale(1.4); 
}